<div class="container">
  <h1> <%= @list.name %></h1>
  <% if @list.photo.attached? %>
    <%= cl_image_tag @list.photo.key %>
  <% else %>
    <%= image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU' %>
  <% end %>
  <div class="container">
    <div class="card mt-3">
      <% @list.movies.each do |movie| %>
        <div class="card-product">
          <%= image_tag movie.poster_url %>
          <div class="card-product-infos">
            <%= movie.title %>
            <%= movie.overview %>
          </div>
        </div>
      <% end  %>
    </div>
  </div>
</div>



        <%# <div class="card-category">
          <%= movie.title %>
          <%# <%= image_tag movie.poster_url %>
        <%# </div> %>
